#contactModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(196, 196, 196, 0.4);
    justify-content: center;
    align-items: center;
    display: none;
    font-size: 35px;
}

#contactModal.visible {
    display: flex;
}

#contactModal .modal {
    width: 669px;
    height: 900px;
    background: #DB8876;
    border-radius: 5px;
    position: relative;
}

#contactModal .close {
    border: 0;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    width: 42px;
    height: 42px;
}


#contactModal form{
    padding: 0 20px;
}

#contactModal form div{
    display: flex;
    flex-direction: column;
}

.modal header{
    flex-direction: column;
    justify-items: start;
    margin-top: 10px;
    padding: 0 20px;
}

.modal header h2{
    margin : 0;
    font-weight: 400;
}

.modal header h3{
    margin-top: 5px;
    font-weight: 550;
}

#contactModal input, #contactModal textarea {
    width: 100%;
    min-height: 30px;
    border-radius: 5px;
}

#contactModal .contact_button{
    margin-top: 30px;
}