#lightbox {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: rgb(255 255 255 / 90%);
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#lightbox.lightbox--open {
    display: flex;
    flex-direction: column;
}

.lightbox--open .photograph_media_all, .lightbox--open .photograph_media_all img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    min-height: 600px;
    max-height: 800px;
    object-fit: cover;
    border-radius: 15px;
    aspect-ratio: 1/1;
}

.lightbox--open .photograph_media_infos {
    width: auto;
    position: absolute;
    bottom: 10px;
}

.lightbox--open i {
    font-size: 48px;
    color: #901C1C;
    padding: 0 30px;
    margin: 0 30px;
    cursor: pointer;
}

.lightbox__container {
    display: flex;
    flex-direction: row;
    width: 1280px;
    height: 40px;
    align-items: center;
    justify-content: end;
}

#lightboxImage {
    object-fit: cover;
    width: 1050px;
    height: 900px;
    border-radius: 5px;
}

.lightbox--open h3 {
    text-align: center;
    margin: 0 auto 15px;
}

.lightbox__previous, .lightbox__next {
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    align-self: start;
    align-items: center
}

.lightbox__next {
    display: inline-flex;
    flex-direction: row;
    justify-content: end;
    align-self: end;
    align-items: center
}

.inlignflex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1100px;
    height: 100%;
    gap: 10px;
    margin: 0 10px;
}

.lightbox--open .photograph_media_movie {
    width: 100%;
    min-height: 600px;
    max-height: 800px;
    aspect-ratio: 1/1;
    border-radius: 15px;
    overflow: hidden;
}
