#lightboxWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #e5e5e5f0;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

#lightboxWrapper.show {
    display: flex;
}

#lightboxWrapper .close {
    position: fixed;
    background: transparent;
    border: none;
    font-size: 4rem;
    color: #901C1C;
    right: 2rem;
    top: 2rem;
}

#lightboxWrapper h3 {
    position: fixed;
    color: #901C1C;
    left: 2rem;
    right: 2rem;
    bottom: 0;
    text-align: center;
}

#lightboxWrapper .viewport {
    display: flex;
    width: 100%;
    height: 100%;
}

#lightboxWrapper .media {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-content: center;
}

#lightboxWrapper .media img,
#lightboxWrapper .media video {
    max-width: 100%;
    max-height: 100%;
}

#lightboxWrapper .media video {
    object-fit: contain;
}
#lightboxWrapper .media video {
    object-fit: cover;
}

#lightboxWrapper button.prev,
#lightboxWrapper button.next {
    border: 0;
    font-size: 4rem;
    color: #901C1C;
    background: transparent;
    cursor: pointer;
}